{% extends 'Front/master.html' %} {% load staticfiles %} {% block headblock %}

<title>Home</title>

{% endblock %} {% block maniblock %}

<div class="shadow-lg p-3 mb-5 bg-white rounded">
    <div class="container">
        <div id="demo" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ul class="carousel-indicators">
                <li data-target="#demo" data-slide-to="0" class="active"></li>
                <li data-target="#demo" data-slide-to="1"></li>
                <li data-target="#demo" data-slide-to="2"></li>
            </ul>

            <!-- The slideshow -->

            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{%static '1.jpg' %}" alt="Los Angeles" style="width:100%;height:500px;" />
                </div>
                <div class="carousel-item">
                    <img src="{%static '2.jpg' %}" alt="Chicago" style="width:100%;height:500px;" />
                </div>
                <div class="carousel-item">
                    <img src="{%static '3.jpg' %}" alt="Chicago" style="width:100%;height:500px;" />
                </div>
            </div>

            <!-- Left and right controls -->
            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
    </div>
</div>

<div class="shadow-sm p-3 mb-5 bg-white rounded ">
    <div class="container">
        <div class="row">
            {%for cc in news%}
            <div class="col-sm" style="width:300px">
                <div class="shadow p-3 mb-5 bg-white rounded" style="width:330px">
                    <div class="card" style="width:300px">
                        <img class="card-img-top" src="{{ cc.news_url }}" alt="Card image"
                            style="width:300px ; height: 180px;" />
                        <div class="card-body">
                            <h4 class="card-title">{{ cc.news_titel }}</h4>
                            <p class="card-text" align="justify">
                                {{ cc.news_short_txt }}
                            </p>
                            <a href="{%url 'news_show' wd=cc.news_titel %}" class="btn btn-primary">See More</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor%}
        </div>
    </div>
</div>

<br />
<br />
<br />
<br />
<br />

<hr />

{% endblock %} {% block footerblock %}
<a href="http://www.google.com">google</a> {% endblock %}