{% extends 'Front/master.html' %} {% load staticfiles %} {% block headblock %}

<title>News</title>

{% endblock %} {% block maniblock %}


<hr />
<div class="container" style="display: inline-block ; margin : 0 30% ; padding: 10% 1%">
    <div class="row">
        {%for cc in news %}
        <img src="{{ cc.news_url }}" alt="{{ cc.news_titel }}">
        <p>
            {{cc.date}}
        </p>
        <hr />
        <p>
            {{cc.news_body_txt}}
        </p>
        {% endfor%}
    </div>
</div>

<hr />
{% endblock %} {% block footerblock %} {%endblock %}