<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Document</title>
        <link rel="stylesheet" type="text/css" href="mystyle.css" />
    </head>
    <body>
        <div class="salam1">
            <a href="htp://www.Google.com">Google</a>
            <a href="htp://www.Yahoo.com">Yahoo</a>
        </div>
    </body>
</html>
