{% extends 'Back/admin/Master.html'%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    {% block headblock%}
    <title>Add News</title>
    {% endblock %}
    <link rel="stylesheet" type="text/css" href="mystyle.css" />
</head>

<body>
    {% block bodyblock%}
    <div style=" margin: 10px;">
        <form action="{%url 'news_add' %}" method="POST">
            {% csrf_token %}
            <label>news_titel : </label><input type=" text" name=news_titel style="display: block;">
            <label>news_short_txt : </label><textarea type="text" name=news_short_txt
                style="display: block;"></textarea>
            <label>news_body_txt : </label><textarea type="text" name=news_body_txt style="display: block;"></textarea>

            <br>
            <button type="submit">submit</button>
        </form>
    </div>
    {% endblock %}
</body>

</html>