{% extends 'Back/admin/MasterDS.html'%}{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    {% block headblock%}
    <title>Add News</title>
    {% endblock %}
    <link rel="stylesheet" type="text/css" href="mystyle.css" />
</head>
{% block headcontent %}
<script src="{% static 'ckeditor/ckeditor.js' %}">

</script>
{% endblock %}

<body>
    {% block bodyblock %}
    <div class="kt-portlet kt-portlet--tabs kt-portlet--height-fluid">
        <div class="kt-portlet__head">
            <div class="kt-portlet__head-label">
                <h3 class="kt-portlet__head-title">
                    Add Panel
                </h3>
            </div>
            <div class="kt-portlet__head-toolbar">
                <ul class="nav nav-tabs nav-tabs-line nav-tabs-bold nav-tabs-line-brand" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#kt_widget11_tab1_content" role="tab">
                            Add News
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#kt_widget11_tab2_content" role="tab">
                            Last News
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div style=" margin: 10px;">
            <form action="{%url 'news_add' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <label>news_titel : </label><input type=" text" name=news_titel style="display: block;">
                <label>news_short_txt : </label><textarea type="text" name=news_short_txt
                    style="display: block;"></textarea>
                <label>news_body_txt : </label><textarea type="text" name="news_body_txt"
                    style="display: block;"></textarea><br>
                <script>
                    CKEDITOR.replace('news_body_txt')

                </script>
                <script type="text/javascript" src="/js/ckeditor/adapters/jquery.js"></script>
                <script type="text/javascript">
                    $(function () {
                        $('#your_textarea').ckeditor({
                            toolbar: 'Full',
                            enterMode: CKEDITOR.ENTER_BR,
                            shiftEnterMode: CKEDITOR.ENTER_P
                        });
                    });
                </script>
                <input type="file" name="MyFile" /> <br>
                <button type="submit">submit</button>
            </form>
        </div>
    </div>
    {% endblock %}

</body>

</html>