{% extends 'Back/admin/MasterDS.html'%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    {% block headblock%}
    <title>Edit Settings</title>
    {% endblock %}
    <link rel="stylesheet" type="text/css" href="mystyle.css" />
</head>

<body>
    {% block bodyblock%}
    <div class="kt-portlet kt-portlet--tabs kt-portlet--height-fluid">
        <div class="kt-portlet__head">
            <div class="kt-portlet__head-label">
                <h3 class="kt-portlet__head-title">
                    Edit Panel
                </h3>
            </div>
            <div class="kt-portlet__head-toolbar">
                <ul class="nav nav-tabs nav-tabs-line nav-tabs-bold nav-tabs-line-brand" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#kt_widget11_tab1_content" role="tab">
                            Edit Settings
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#kt_widget11_tab2_content" role="tab">
                            Last Settings
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div style=" margin: 10px;">
            {%for cc in settingsedite%}
            <form action="{%url 'settings_edit' pk=cc.pk %}" method="POST">
                {% csrf_token %}
                <label>settings_name : </label><input type=" text" value="{{cc.settings_name}}" name=settings_name
                    style="display: block;" disabled>
                <label>settings_pic_url : </label><textarea type="text" name=settings_pic_url
                    style="display: block;">{{cc.settings_pic_url}}</textarea>
                <label>settings_head : </label><textarea type="text" name=settings_head
                    style="display: block;">{{cc.settings_head}}</textarea>
                <label>settings_title : </label><textarea type="text" name=settings_title
                    style="display: block;">{{cc.settings_title}}</textarea>

                <br>
                <button type="submit">submit</button>
            </form>
            {%endfor%}
        </div>
    </div>
    {% endblock %}
</body>

</html>