{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Login</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" type="text/css" href="fontawesome/css/all.css">
    <link rel='stylesheet' type='text/css' media='screen' href="{%static 'back/loginstyle.css' %}">
</head>

<body>
    <div class="conteinner">
        <div class="back">
        </div>

        <div class="wrapper ">

            <form action="{%url 'privetlogin' %}" class="login" method="POST">
                {% csrf_token %}
                <p class="title">ورود کاربر</p>

                <p>
                    <input type="text" class="login-text" placeholder="نام کاربری" name="admin_username">
                    <i class="fas fa-user-tie"></i>
                </p>
                <p>
                    <input type="password" class="login-text" placeholder="رمز عبور" name="admin_pass">
                    <i class="fas fa-lock"></i>
                </p>
                <p>
                    <input type="checkbox" class="checkbox" id="checkbox">
                    <label for="checkbox" id="labelbox"><span></span>مرا به خاطر بسپار</label>
                </p>
                <input type="submit" value="ثبت">
            </form>

        </div>
    </div>
    </div>

</body>

</html>