<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="register.css">
    <title>Register</title>
</head>

<body>
    <form>
        <h2>مشخصات</h2>
        <div class="control">
            <input type="text" id="name">
            <label for="name" class="label">نام</label>
        </div>
        <div class="control">
            <input type="email" id="email">
            <label for="email" class="label">ایمیل</label>
        </div>
        <div class="control">
            <input type="tel" id="tel">
            <label for="tel" class="label">تلفن</label>
        </div>
        <h2>...... بیشتر </h2>
        <div class="control">
            <select name="fruit" id="fruit">
                <option value=""></option>
                <option value="banana">موز</option>
                <option value="apple">سیب</option>
                <option value="kiwi">کیوی</option>
                <option value="Cherry">گیلاس</option>
            </select>
            <label for="fruit" class="label">میوه مورد علاقه</label>
        </div>
        <div class="control">
            <input type="radio" id="radiobox1" class="radiobox">
            <label for="radiobox1">آقا</label>
            <input type="radio" id="radiobox2" class="radiobox">
            <label for="radiobox2">خانم</label>
        </div>
        <div class="control">
            <textarea id="cm"></textarea>
            <label for="cm" class="label">نظر شما</label>
        </div>
        <div class="control">
            <input type="checkbox" id="checkbox">
            <label for="checkbox">قوانین را قبول دارم</label>
        </div>
        <div class="control">
            <input type="submit" id="submit" value="ثبت">
        </div>
    </form>
</body>

</html>